# ディレクトリ
bin
obj
datafiles/snapshots
datafiles/processed_images
datafiles/models
datafiles/figures
datafiles/detection_target
datafiles/plarail
tests/test_images
third_party
yolo_detection_system/result
yolo_detection_system/build

# yoloモデル
*.onnx
*.o

# 実行ファイル
camera_app